# core
streamlit==1.50.0

# image handling
Pillow==11.3.0
numpy==2.3.3
opencv-python==4.9.0.74

# convenience / env / optional
python-dotenv==1.0.0        # use for loading admin password from .env (recommended)
streamlit-webrtc==0.57.0    # OPTIONAL: if you want live webcam streaming/processing (not required for st.camera_input)
